{% extends 'base.html' %} {% block content %}

{% comment %} <form method="post" action="{% url 'signup' %}">
	{% csrf_token %} {{ form.as_p }}
	<input type="submit" class="btn" value="Sign Up" />
	<input type="hidden" name="next" value="{{ next }}" />
</form> {% endcomment %}

<body class="login-template">
    <div class="login">
    <h1 class="title has-text-centered">Not Signed Up yet?</h1>
        <div class="form">

            <form class="login-form" "form" method="post" action="{% url 'login' %}">
                {% csrf_token %} {{ form.as_p }}
                {% comment %} <input type="submit" class="btn" value="login" /> {% endcomment %}
                <button type="submit">Sign Up</button>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>

        </div>
    </div>

</body>

{% endblock %}